
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.inp{
    
    /* height: 550px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    
    
}
body{
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px); 
    
}

.m1{
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Dosis', sans-serif;
}
h1{
    font-family: 'Dosis', sans-serif;
}
h3{
    font-family: 'Dosis', sans-serif;
}
h4{
    font-family: 'Dosis', sans-serif;
}
h5{
    font-family: 'Dosis', sans-serif;
}
h6{
    font-family: 'Dosis', sans-serif;
}

li{
    
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-stretch: expanded;
    font-size: larger;
        
    
}

